* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 980px;
    width: 100%;
    background-color: #FFFAFA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0 auto;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
    margin: auto;
    max-height: 350px;
}

.carousel-inner {
    margin-bottom: 10px;
}

h4 {
    color: #FFFFFF;
    font: Verdana;
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}

#contacts {
    color: black;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 500px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    border: 2px solid;
    font-family: 'Baloo Bhaina', cursive;
}

#contacts h1 {
    text-align: center;
    font-size: 50px;
}

#contacts p {
    text-align: center;
    font-size: 32px;
}

h2 {
    color: #000000;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 5px;
}

p {
    margin-top: 0px;
    margin-bottom: 20px;
}

a {
    color: #38B0E3;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
}

#container {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background: #FFFAFA;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

header {
    margin: auto;
    min-height: 250px;
    width: 100%;
    background: url('../img/logo.png') center no-repeat;
    position: relative;
    background-color: #FFFAFA;
}

header nav {
    position: absolute;
    left: 0px;
    bottom: 13px;
    font-size: 15px;
    padding-right: 10px;
}

header nav a {
    float: left;
    display: block;
    padding: 0px 0px 0px 14px;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}

header nav a+a {
    margin-left: 15px;
    border-left: 1px solid #CCC;
}

#menu {
    margin-top: 0px;
    text-align: center;
    background: #F5F5F5;
    margin-bottom: 10px;
    padding: 0px 5px;
    height: 37px;
}

#menu ul {
    list-style: none;
    margin: auto;
    padding: 0;
    display: inline-block;
    text-align: left;
}

#menu>ul>li {
    position: relative;
    float: left;
}

#menu>ul>li>a {
    font-size: 14px;
    color: black;
    line-height: 37px;
    text-decoration: none;
    display: block;
    z-index: 6;
    position: relative;
    width: auto;
    padding: 0 40px 0 40px;
    float: left;
    text-align: center;
}

#menu>ul>li:hover>a {
    background: #FFFAFA;
    color: black;
}

footer {
    margin-top: 10px;
    text-align: center;
    clear: both;
    height: 85px;
    width: 100%;
    min-height: 85px;
    background: #FFFAFA;
}

#blockphotos {
    display: block;
    height: 324px;
}

#blockphotos img {
    display: block;
    height: 324px;
    width: 470px;
}

.blockphoto1 {
    float: left;
}

.blockphoto2 {
    float: right;
}

footer .soc {
    margin-top: 30px;
}

@media only screen and (max-width: 940px) {
    #blockphotos {
        height: 100%;
        text-align: center;
    }
    #blockphotos img {
        width: 100%;
        max-width: 470px;
    }
    .blockphoto1 {
        display: inline-block;
        float: none;
    }
    .blockphoto2 {
        display: inline-block;
        float: none;
        margin-top: 10px;
    }
    #slider {
        max-width: 470px;
        width: 100%;
        margin: 0 auto;
    }
    #contacts {
        width: 100%;
        height: 100%;
        max-width: 470px;
    }
}